<div class="resolver_modal_background">
    <div class="resolver_modal" role="dialog">
        <div class="resolver_modal_header">
            <h3 class="resolver_header">@Title</h3>
            <button type="button" class="button_modal_close" @onclick="OnClose">&times;</button>
        </div>

        <div class="resolver_modal_body">
            @ChildContent
        </div>

        <div class="resolver_modal_footer">
            @if (OnPrimary.HasDelegate)
            {
                <button type="button" class="resolver_button" @onclick="OnPrimary">@PrimaryText</button>
            }
            <button type="button" class="resolver_button" @onclick="OnClose">Cancel</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string PrimaryText { get; set; } = "Submit";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnPrimary { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }
}
