@using Faemiyah.BtDamageResolver.Client.BlazorServer.Logic

<div class="resolver_div_tabcontent" style="@VisualStyleController.HideElement(TabIdentity != TabSelection || !Enabled)">
    @ChildContent
</div>

@code
{
    /*
    @if (TabIdentity == TabSelection && Enabled) {
        @ChildContent
    }
    <div class="resolver_div_tabcontent" style="@VisualStyleController.HideElement(TabIdentity != TabSelection || !Enabled)">
        @ChildContent
    </div>*/

    [Parameter]
    public bool Enabled { get; set; }

    [Parameter]
    public string TabIdentity { get; set; }

    [Parameter]
    public string TabSelection { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
