[*.cs]
csharp_style_var_for_built_in_types=true:silent
csharp_style_var_when_type_is_apparent=true:silent
csharp_style_var_elsewhere=true:silent

##
## IDE
##

# Ternary operator suggestions are not needed, I'll use it when I want to
dotnet_diagnostic.IDE0045.severity = None

# Ternary operator suggestions are not needed, I'll use it when I want to
dotnet_diagnostic.IDE0046.severity = None

# Range operator is not clear coding in my opinion
dotnet_diagnostic.IDE0057.severity = None

# Switch expression does not need to be suggested
dotnet_diagnostic.IDE0066.severity = None

# Disallow multiple empty lines in a row
dotnet_style_allow_multiple_blank_lines_experimental = false:warning

# File scoped namespaces reduce indentation are just a good practice
csharp_style_namespace_declarations = file_scoped:warning

# Tuple names are a good practice for clarity
dotnet_style_explicit_tuple_names = true:warning

# Conditionals for clarity, not enforced
dotnet_style_prefer_conditional_expression_over_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = true:suggestion

##
## StyleCop.Analyzers
##

# XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = None

# Closing parenthesis should not be preceded by a space
dotnet_diagnostic.SA1009.severity = Warning

# Prefix local calls with this
dotnet_diagnostic.SA1101.severity = None

# Put constructor initializers on their own line
dotnet_diagnostic.SA1128.severity = None

# Using directive should appear within a namespace declaration
dotnet_diagnostic.SA1200.severity = None

# Static members should come before non-static members
dotnet_diagnostic.SA1204.severity = None

# Fields should begin with a lowercase letter
dotnet_diagnostic.SA1306.severity = None
    
# Field '_blah' should not begin with an underscore
dotnet_diagnostic.SA1309.severity = None

# Fields can be protected
dotnet_diagnostic.SA1401.severity = None

# Arithmetic operation precedence is self-explanatory
dotnet_diagnostic.SA1407.severity = None

# Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = None

# Usings do not need blank lines in-between
dotnet_diagnostic.SA1516.severity = None

# Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = Suggestion

# Allow properties to contain any kind of documentation line.
dotnet_diagnostic.SA1623.severity = None

# No need to always set header
dotnet_diagnostic.SA1633.severity = None

##
## SonarAnalyzers.CSharp
##

# Remove this commented out code
dotnet_diagnostic.S125.severity = Suggestion

# There should be no need to always merge nested ifs
dotnet_diagnostic.S1066.severity = Warning

# This one is just bugged
dotnet_diagnostic.S1172.severity = Warning

# LINQ suggester is too aggressive
dotnet_diagnostic.S3267.severity = Warning

# LINQ suggester is too aggressive
dotnet_diagnostic.S3358.severity = Warning

# Don't want to provide assembly versions.
dotnet_diagnostic.S3904.severity = Warning

##
## MSVS
##

dotnet_diagnostic.IDE0005.severity = Error
