@using Faemiyah.BtDamageResolver.Client.BlazorServer.Logic
@inject UserStateController UserStateController
@implements IDisposable

<div class="resolver_div_componentlistcontainer resolver_div_componentrow">
    <h3 class="resolver_header @(UserStateController.GameState.Players[PlayerId].IsReady ? "ready" : string.Empty)">
        @PlayerId @(UserStateController.GameState.Players[PlayerId].IsReady ? "[Ready]" : string.Empty)
    </h3>

    @foreach (var unit in UserStateController.GameState.Players[PlayerId].UnitEntries)
    {
        <ComponentUnit UnitEntry=@unit></ComponentUnit> // Removed key from here
    }
</div>

@code {
    [Parameter]
    public string PlayerId { get; set; }

    protected override void OnInitialized()
    {
        UserStateController.OnUnitListChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserStateController.OnUnitListChange -= StateHasChanged;
    }
}