@using Faemiyah.BtDamageResolver.Client.BlazorServer.Logic
@inject UserStateController _userStateController

@if (_userStateController.PlayerName != null && _userStateController.GameState != null)
{
    var playerStateList = DisplayOwnUnits ?
           _userStateController.GameState.Players.Values.Where(p => !p.IsSpectator) :
           _userStateController.GameState.Players.Where(p => p.Value.PlayerId != _userStateController.PlayerName).Select(p => p.Value).Where(p => !p.IsSpectator);

    var spectatorList = _userStateController.GameState.Players.Values.Where(p => p.IsSpectator).Select(p => p.PlayerId);

    @if(spectatorList.Any()) {
        <h2 class="resolver_header">
            Spectators
        </h2>

        <p>
            @string.Join("<br>", spectatorList)
        </p>
    }

    @foreach (var player in playerStateList)
    {
        <ComponentPlayerState @key=@($"{player.PlayerId}_{player.TimeStamp}") PlayerId="@player.PlayerId" />
    }
}

@code {
    [Parameter]
    public bool DisplayOwnUnits { get; set; }
}