@inherits BaseFaemiyahComponent
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Logic
@inject UserStateController _userStateController
@implements IDisposable

@if (_userStateController.IsConnectedToGame)
{
    var playerStateList = _userStateController.GameState.Players.Values.Where(p => !p.IsSpectator);

    var spectatorList = _userStateController.GameState.Players.Values.Where(p => p.IsSpectator).Select(p => p.PlayerId).ToList();

    @if(spectatorList.Any()) {
        <h2 class="resolver_header">
            Spectators
        </h2>

        <p>
            @for(var ii=0; ii<spectatorList.Count-1; ii++)
            {
                @spectatorList[ii]
                <br />
            }
            @spectatorList[^1]
        </p>
    }

    @foreach (var player in playerStateList)
    {
        <ComponentPlayerState @key=@($"{player.PlayerId}") PlayerId="@player.PlayerId" />
    }
}

@code {
    protected override void OnInitialized()
    {
        _userStateController.OnGameUnitListUpdated += InvokeStateChange;
    }

    public void Dispose()
    {
        _userStateController.OnGameUnitListUpdated -= InvokeStateChange;
    }
}