@inherits BaseFaemiyahComponent
@using Faemiyah.BtDamageResolver.Api.Entities
@using Faemiyah.BtDamageResolver.Client.BlazorServer.Logic
@inject UserStateController _userStateController
@implements IDisposable

@{
    var targetNumberUpdate = _userStateController.GetTargetNumberUpdate(Unit.Id);
}

@if (targetNumberUpdate != null)
{
    <div>
        @if (targetNumberUpdate.HeatWorstCase > 0)
        {
            <div>
                Projected heat: @targetNumberUpdate.HeatEstimate
                @if (targetNumberUpdate.HeatEstimate != targetNumberUpdate.HeatWorstCase)
                {
                    @($" ({targetNumberUpdate.HeatWorstCase})")
                }
            </div>
        }

        @if (targetNumberUpdate.AmmoEstimate.Any())
        {
            <div>
                Projected ammo usage:
            </div>
            foreach (var item in targetNumberUpdate.AmmoEstimate)
            {
                <div>
                    @($"{item.Key}: {item.Value}")
                    @if (targetNumberUpdate.AmmoWorstCase[item.Key] != targetNumberUpdate.AmmoEstimate[item.Key])
                    {
                        @($" ({targetNumberUpdate.AmmoWorstCase[item.Key]})")
                    }
                </div>
            }
        }
    </div>
}

@code
{
    [Parameter]
    public UnitEntry Unit { get; set; }

    protected override void OnInitialized()
    {
        _userStateController.OnTargetNumbersUpdated += InvokeStateChange;
    }

    public void Dispose()
    {
        _userStateController.OnTargetNumbersUpdated -= InvokeStateChange;
    }
}
