@using Faemiyah.BtDamageResolver.Client.BlazorServer.Entities

<div class="resolver_div_componentrow">
    <EditForm Model="@_credentials" OnValidSubmit="Submit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label class="resolver_label_auth">
            @ChildContent:
            <input class="resolver_input resolver_input_text" type="text" @bind="_credentials.Name" />
        </label>
        <label class="resolver_label_auth">
            Password:
            <input class="resolver_input resolver_input_text" type="text" @bind="_credentials.Password" />
        </label>

        <button type="submit" class="resolver_button">Submit</button>
    </EditForm>
</div>

@code
{
    private readonly Credentials _credentials = new Credentials();

    [Parameter]
    public EventCallback<Credentials> OnSubmit { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private void Submit()
    {
        OnSubmit.InvokeAsync(_credentials);
    }
}
