@using Faemiyah.BtDamageResolver.Api.Entities.RepositoryEntities

<table class="resolver_table resolver_table_gamelist">
    <tr>
        <th>
            Game Name
        </th>
        <th>
            Players
        </th>
        <th>
            Password
        </th>
        <th>
            Last activity
        </th>
        <th>
        </th>
    </tr>
    @if (_sortedGames.Count > 0)
    {
        @foreach (var game in _sortedGames)
        {
            <FormGameEntry Game="@game" OnJoin="@OnGameJoin"></FormGameEntry>
        }
    }
    else
    {
        <tr>
            <td colspan="5">
                No recent games
            </td>
        </tr>
    }
</table>


@code
{
    private List<GameEntry> _sortedGames = [];

    [Parameter]
    public List<GameEntry> Games { get; set; }

    [Parameter]
    public EventCallback<string> OnJoin { get; set; }

    protected override void OnParametersSet()
    {
        _sortedGames = [.. Games.OrderByDescending(g => g.TimeStamp)];
    }

    private void OnGameJoin(string gameName)
    {
        OnJoin.InvokeAsync(gameName);
    }
}
