@using Faemiyah.BtDamageResolver.Api.Enums

<div class="resolver_div_paperdoll_image">
    <svg viewBox="0 0 8400 10400">
        <FormPaperDollRegion FormPaperDoll="FormPaperDoll" Location="Location.FrontLeftLeg" Points="2200,5600 2200,5400 1800,4600 1200,4209.86 1000,4209.86 800,4409.86 800,5200 1000,5600 800,6600 600,6800 600,7600 800,7800 800,8400 600,8600 600,9000 800,9200 400,9800 400,10000 1800,10000 1800,9800 1600,9200 1800,9000 1800,8600 1600,8400 1600,7800 1800,7600 1800,6800 1600,6600 1800,5800" />
        <FormPaperDollRegion FormPaperDoll="FormPaperDoll" Location="Location.FrontRightLeg" Points="6200,5600 6200,5400 6600,4600 7200,4209.86 7400,4209.86 7600,4409.86 7600,5200 7400,5600 7600,6600 7800,6800 7800,7600 7600,7800 7600,8400 7800,8600 7800,9000 7600,9200 8000,9800 8000,10000 6600,10000 6600,9800 6800,9200 6600,9000 6600,8600 6800,8400 6800,7800 6600,7600 6600,6800 6800,6600 6600,5800" />
        <FormPaperDollRegion FormPaperDoll="FormPaperDoll" Location="Location.RearLeftLeg" Points="2600,6200 2600,5800 3000,5400 3800,5400 4000,5600 4000,6200 3800,6600 3800,7200 4000,7400 4000,8000 3800,8200 3800,8600 4000,8800 4000,9200 3800,9400 4000,9800 4000,9998.55 2600,10000 2600,9800 3000,9400 2800,9200 2800,8800 3000,8600 3000,8200 2800,8000 2800,7400 3000,7200 3000,6600" />
        <FormPaperDollRegion FormPaperDoll="FormPaperDoll" Location="Location.RearRightLeg" Points="5800,6200 5800,5800 5400,5400 4600,5400 4400,5600 4400,6200 4600,6600 4600,7200 4400,7400 4400,8000 4600,8200 4600,8600 4400,8800 4400,9200 4600,9400 4400,9800 4400,9998.55 5800,10000 5800,9800 5400,9400 5600,9200 5600,8800 5400,8600 5400,8200 5600,8000 5600,7400 5400,7200 5400,6600" />
        <FormPaperDollRegion FormPaperDoll="FormPaperDoll" Location="Location.LeftTorso" Points="3200,1800 3000,1600 2800,1600 2600,1400 2000,1400 1800,1600 1200,3600 1200,4000 2000,4600 2400,5400 2600,5600 3000,5200 3800,5200 4000,5000 4000,4600 3600,4600 3200,4200" />
        <FormPaperDollRegion FormPaperDoll="FormPaperDoll" Location="Location.RightTorso" Points="5200,1800 5400,1600 5600,1600 5800,1400 6400,1400 6600,1600 7200,3600 7200,4000 6400,4600 6000,5400 5800,5600 5400,5200 4600,5200 4400,5000 4400,4600 4800,4600 5200,4200" />
        <FormPaperDollRegion FormPaperDoll="FormPaperDoll" Location="Location.CenterTorso" Points="4800,1800 5000,1800 5000,3800 4800,4000 4800,4200 4600,4400 3800,4400 3600,4200 3600,4000 3400,3800 3400,1800 3600,1800 3800,2000 4600,2000" />
        <FormPaperDollRegion FormPaperDoll="FormPaperDoll" Location="Location.Head" Points="3800,1800 4600,1800 4800,1600 5000,1600 5200,1400 5200,1000 4600,400 3800,400 3200,1000 3200,1400 3400,1600 3600,1600" />
        @if (FormPaperDoll.AnyDamage(Location.RearLeftTorso))
        {
            <FormPaperDollRegion FormPaperDoll="FormPaperDoll" Location="Location.RearLeftTorso" Points="1400,3600 1400,3800 2200,4400 2800,4400 3000,4200 3000,2000 2800,1800 2600,1800 2400,1600 2200,1600 2000,1800" />
        }
        @if (FormPaperDoll.AnyDamage(Location.RearRightTorso))
        {
            <FormPaperDollRegion FormPaperDoll="FormPaperDoll" Location="Location.RearRightTorso" Points="7000,3600 7000,3800 6200,4400 5600,4400 5400,4200 5400,2000 5600,1800 5800,1800 6000,1600 6200,1600 6400,1800" />
        }
        @if (FormPaperDoll.AnyDamage(Location.RearCenterTorso))
        {
            <FormPaperDollRegion FormPaperDoll="FormPaperDoll" Location="Location.RearCenterTorso" Points="4600,3800 4800,3600 4800,2000 4600,2200 3800,2200 3600,2000 3600,3600 3800,3800" />
        }
    </svg>
</div>


@code {
    [Parameter]
    public FormPaperDoll FormPaperDoll { get; set; }
}
