@using Faemiyah.BtDamageResolver.Api.Entities.RepositoryEntities

@{
    Games.Sort((x, y) => y.TimeStamp.CompareTo(x.TimeStamp));
}

<table class="resolver_table resolver_table_gamelist">
    <tr>
        <th>
            Game Name
        </th>
        <th>
            Players
        </th>
        <th>
            Password
        </th>
        <th>
            Last activity
        </th>
        <th>
        </th>
    </tr>
    @if (Games.Any())
    {
        @foreach (var game in Games)
        {
            <FormGameEntry Game="@game" OnJoin="@OnGameJoin"></FormGameEntry>
        }
    }
    else
    {
        <tr>
            <td colspan="5">
                No recent games
            </td>
        </tr>
    }
</table>


@code
{
    [Parameter]
    public List<GameEntry> Games { get; set; }

    [Parameter]
    public EventCallback<string> OnJoin { get; set; }

    private void OnGameJoin(string gameName)
    {
        OnJoin.InvokeAsync(gameName);
    }
}
